* {
    margin: 0;
  }

.Hero {
  background-color: #1f2937;
  margin-bottom: -90px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  display: inline-block;
  margin-left: 40px;
}

.one {
  display: inline-block;
  margin-left: auto;
  margin-right: 50px;
  width: 100px;
  height: 150px;
}

.two {
  display: inline-block;
  margin-right: 40px;
}

.three {
  display: inline-block;
  margin-right: 40px;
  margin-right: 120px;
  margin-bottom: 40px;
}

a:link { 
  text-decoration: none; 
  font-size: 18px;
  color: #E5E7EB;
} 


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 20px;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-left: 320px;
  margin-right: 740px;
  display: inline-block;
  vertical-align: top;
}

.secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 320px;
  margin-right: 740px;
  display: block;
}

.button1 {
  background-color: #3882F6;
  border: none;
  color: white;
  padding: 15px 22px;
  border-radius: 8px;
  text-align: center;
  margin-top: 12px;
  margin-left: 320px;
  margin-right: 740px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.Header {
  font-size: 18px;
  color: #E5E7EB; 
  padding: 0;
  margin: 0;
  white-space: nowrap; 
}

.main-image {
  display: inline-block;
  position: relative;
  top: -220px;
  margin-left: 750px;
  margin-right: auto;
  margin-bottom: 0;
}

.quote {
background-color: #E5E7EB;
}


.item1 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-top: 44px;
  margin-right: 20px;
}

.item2 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-top: 44px;
  margin-right: 20px;
}

.item3 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  padding-top: 44px;
}


.item4 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-top: 44px;
  margin-right: 20px;
}


.caption {
  display: block;
}

.mid-section {
  display: flex;
  justify-content: center;
  background-color: white;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding-bottom: 126px;
  padding-top: 36px;
  gap: 16px;
  width: 100%;
}


.h2 {
  display: flex;
  justify-content: center;
}

.quotation {
  display: inline-block;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 260px;
  margin-right: 260px;
  padding: 40px;
  text-align: justify;
}


.signature {
  font-weight: bold;
  display: flex;
  justify-content:end;
  font-size: 20px;
  margin-right: 290px;
  margin-top: -80px;
  padding-bottom: 80px;
  margin-left: 210px;
}


.box {
  background-color: white;    
}

.call {
  color: white;
  padding: 48px;
  width: 800px;
  font-size: 22px;
  margin-top: 60px;
  margin-left: 235px;
  margin-bottom: 60px;
  padding-left: 150px;
  border-radius: 8px;
  background-color: #3882F6;
  display: inline-block;
  vertical-align: top;
  position: relative;
}


.button2 {
  background-color: #3882F6;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  text-align: center;
  display: flex;
  width: 100px;
  padding: 10px 25px;
  font-size: 12px;
  position: absolute;
    top: 60px; 
    right: 190px;
    left: 800px;
}


.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  padding: 22px;
}